// ============= VARIABLES ============= //
$primary-color: #4683d9;
$design-color: #c7dcff;
$primary-shadow-color: rgba(70, 131, 217, .12);
$secondary-shadow-color: rgba(70, 131, 217, .48);
$light-bg: #f7f7f7;
$hover-color: #8fb7f9;
$dark-text-color: #666;
$author-photo-bg: #cccdd6;
$active-color: #e62e3b;