# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Virtual environments
venv/
*.venv
venv.bak/

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# PyCharm and VS Code directories
.idea/
.vscode/

# Media files
media/

# Static files
# static/

# Environment variables
.env

# Node modules (if you use them)
node_modules/

# Other common files to ignore
*.swp
*.swo
*.bak
*~
*.pot
