{% extends "blog/base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}
<main class="main">
	<a href="{% url 'add_post' %}" class="create-post__button">Создать пост</a>
	<div class="posts">

		{% for post in posts %}

			<div class="post">
				<div class="post__header">
					<div class="post__author-photo user-image"></div>
					<div class="post__author-name">{{ post.author }}</div>
					<div class="post__publishdate">{{ post.date }}</div>
				</div>

				<div class="post__body">
					<div class="post__title">
						<h3><a href="{{ post.id }}">{{ post.title }}</a></h3>
					</div>
					<div class="post__description">
						<p>{{ post.description|truncatewords:50 }}</p>
					</div>

					{% if post.img %}
					<div class="post__image">
						<a href="{{ post.id }}">
							<img src="{{ post.img.url }}" alt="Post Image">
						</a>
					</div>
					{% endif %}

				</div>
			</div>

		{% endfor %}
	</div>
</main>
{% endblock %}
