{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ post.title }}</title>

	<!--
		- css
	-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
	<div class="content">
		<!--
			- HEADER
		-->
		<header class="header">
			<div class="header__logo logo">
				<a href="/">
					<img src="{% static "img/logos/logo.png" %}" alt="">
				</a>
			</div>

			<div class="header__login-button">
				<div class="header__login-image">
					<img src="{% static "img/person.png" %}" alt="">
				</div>
				<div class="header__login-content">
					<a href="#">Login</a>
				</div>
			</div>
		</header>
		
		<!--
			- MAIN
		-->
		<main class="main">

			{% if post %}

				<div class="post post__page">
					<div class="post__header">
						<div class="post__back-button">
							<a href="/">
								<object data="{% static "img/back-btn.svg" %}" type="image/svg+xml">
									<!-- Ваш браузер не поддерживает отображение объектов SVG -->
								</object>
								Вернуться назад
							</a>
						</div>

						<div class="post__meta">
							<div class="post__author-photo"></div>
							<div class="post__author-name">{{ post.author }}</div>
							<div class="post__publishdate">{{ post.date }}</div>
						</div>
						
						<div class="post__title">
							<h1>{{ post.title }}</h1>
						</div>
					</div>

					{% if post.img %}
						<div class="post__image">
							<img src="{{ post.img.url }}" alt="Post Image">
						</div>
					{% endif %}
	
					<div class="post__body">
						<div class="post__content">
							<p>{{ post.description }}</p>
						</div>
					</div>

					<div class="post__comments">
						<h2>Комментарии:</h2>

						<form action="#" class="leave-comment">
							<h3>Хотите оставить комментарий?</h3>

							<div class="leave-comment__input input__name">
								<label for="name">Ваше имя*:</label>
								<input type="text" name="name" id="name" placeholder="Введите Ваше имя">
							</div>

							<div class="leave-comment__input input__email">
								<label for="email">Ваш email*:</label>
								<input type="text" name="email" id="email" placeholder="Введите Ваш email">
							</div>

							<div class="leave-comment__input input__content">
								<label for="comment">Ваш комментарий:</label>
								<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
							</div>
						</form>
					</div>
				</div>

			{% endif %}

		</main>

		<!--
			- FOOTER
		-->
		<footer class="footer">
			<div class="footer__logo logo">
				<a href="/">
					<img src="{% static "img/logos/logo.png" %}" alt="">
				</a>
			</div>
			
			<div class="footer__copyright">
				© Copyright. <br>
				All Rights Reserved.
			</div>
		</footer>
	</div>
</body>
</html>