{% extends "blog/base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<main class="main">
	<div class="edit-post">
		<div class="back-button">
			<a href="javascript:history.back()">
				<object data="{% static "img/back-btn.svg" %}" type="image/svg+xml">
					<!-- Ваш браузер не поддерживает отображение объектов SVG -->
				</object>
				Вернуться назад
			</a>
		</div>

		<h1>Редактировать пост</h1>

		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }} 
			<input type="submit" value="Сохранить">
		</form>
	</div>
</main>
{% endblock %}
