/*
	===== GLOBAL STYLES =====
*/
* {
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #f2f2f2;
}

// .logo

.logo {

	// .logo img
	
	img {
		width: 100%;
		max-width: 75px;
		height: auto;
		padding-inline: 10px;
	}
}
