.footer {
    width: 100%;
    background-color: $design-color;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__copyright {
        text-align: center;
    }
}
